body {
	background-color: #1A0F24;
	font-family: "brandon-grotesque", sans-serif;
	font-size: 16px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}
.container {
	padding: 0 50px;
}

/*--- Global Text ---*/
	h1 {
		font-size: 50px;
		font-weight: 400;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 26px;
	}
	h4 {
		font-size: 20px;
	}
	p {
		color: #fff;
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
	}
	a {
		color: #fff;
	}
	a:hover {
		color: #fff;
	}
/*-- Global Styles --*/


p.small {
	color: rgba(255,255,255,0.5);
	display: block;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 3px;
	margin-bottom: 6px;
	text-transform: uppercase;
}




/* Progress Bar */
.progress-bar {
	background-color: rgba(255,255,255,0.05);
	border-radius: 12px;
	height: 6px;
	width: 100%;
	overflow: auto;
	display: block;
}

.nanobar {
		width: 100%;
		height: 100%;
}

.bar {
  	width: 0;
  	height: 100%;
  	transition: height .3s;
  	background:#FF9F3C;
}
/* End Progress Bar */



/* Button Styles */

.nav-button {
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 18px;
	display: inline-block;
	line-height: 36px;
	margin-left: 18px;
	padding: 0 24px;
}
	.nav-button:hover {
		background-color: rgba(255,255,255,0.1);
		border: 1px solid rgba(255,255,255,0);
		color: #fff;
		text-decoration: none;
	}
.btn {
	background-color: #42BCB0;
	border-radius: 100px;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 16px 0;
	display: inline-block;
	width: 100%;
}
	.btn:hover {
		color: #fff;
	}

/* End Button Styles */


/* Phone Input Styles */

@media (max-width: 450px) {
	.input-group input.form-control {
		border-radius: 32px !important;
		margin-bottom: 15px;
	}
	.input-group input.form-control::-webkit-input-placeholder {
	   text-align: center;
	}

	.input-group input.form-control:-moz-placeholder { /* Firefox 18- */
	   text-align: center;  
	}

	.input-group input.form-control::-moz-placeholder {  /* Firefox 19+ */
	   text-align: center;  
	}

	.input-group input.form-control:-ms-input-placeholder {  
	   text-align: center; 
	}
	span.input-group-btn {
		display: inline;
	}
	span.input-group-btn .btn {
		border-radius: 32px !important;
	}
}

/* End Phone Input Styles */




hr { 
	background-color: #42BCB0;
	border: none;
	border-radius: 2px;
	height: 2px;
	width: 12%;
	margin-top: 30px;
	margin-bottom: 30px;
}



.nav {
	padding: 48px 0;
	margin-bottom: 4%;
	line-height: 36px;

}
.left-nav {
	text-align: right;
	float: right;
}
.right-nav {
	float: left;
}
.content {
	text-align: center;

}




.content h1, p {
	color: #fff;
}
.content p, .content h3 {
	color: rgba(255,255,255,0.5);
	margin-bottom: 48px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
 
.form-control {
	background:;
	border: none;
	border-radius: 32px 0 0 32px;
	line-height: 64px;
	height: auto;
	padding: 0 24px 0 24px;
	margin: 0;
}
.btn-default {
	background-color: #42BCB0;
	border: none;
	border-radius: 0 32px 32px 0;
	color: #fff;
	line-height: 64px;margin: 0;padding: 0 40px;
}
.btn-default:hover {
	background-color: #35978D;
	color: #fff;
}



.mobile-number {
	margin-bottom: 48px;
}

.city-table {
	border: 1px solid rgba(255,255,255,0.09);
	border-radius: 8px;
	color: #fff;
	margin-bottom: 48px;
}
.city-row {
	border-bottom: 1px solid rgba(255,255,255,0.09);
	overflow: auto;
	padding: 18px 0;
}
.city-row:last-child {
	border: none;
}
.city-table p {
	 
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: left;
}




.social-wrapper {
	text-align: center;
	padding:0;
	margin: 0;
}

ul.social {
	list-style: none;
	padding: 32px 0;
	margin: 0;
}
ul.social li {
	display: inline-block;
	background-color:;
	text-indent: -9999px;
	margin: 0 4px;
	vertical-align: top;
	overflow: hidden;
}
ul.social li a.twitter, ul.social li a.facebook, ul.social li a.instagram {
	display: block;
	height: 48px;
	width: 48px;
}
ul.social li a.twitter {
	background-image: url('../img/social-icons.svg');
	opacity: .3;
}
ul.social li a.twitter:hover {
	background-image: url('../img/social-icons.svg');
	opacity: 1;
}
ul.social li a.facebook {
	background-image: url('../img/social-icons.svg');
	background-position: 0 -48px;
	opacity: .3;
}
ul.social li a.facebook:hover {
	background-image: url('../img/social-icons.svg');
	background-position: 0 -48px;
	opacity: 1;
}
ul.social li a.instagram {
	background-image: url('../img/social-icons.svg');
	background-position: 0 -96px;
	opacity: .3;
}
ul.social li a.instagram:hover {
	background-image: url('../img/social-icons.svg');
	background-position: 0 -96px;
	opacity: 1;
}



/*--- buttons ---*/
.share-btn-facebook, .share-btn-twitter {
	border-radius: 36px;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	line-height: 72px;
	width: 288px;
}
.share-btn-facebook:hover, .share-btn-twitter:hover {
	color: #fff;
	text-decoration: none;
}

.share-btn-facebook {
	background-color: #3B5998;
	margin-bottom: 12px;
}
.share-btn-facebook:hover {
	background-color: #37518C;
}

.share-btn-twitter {
	background-color: #00ACED;


}
.share-btn-twitter:hover {
	background-color: #058CC4;
}





/*--- Start Footer ---*/

.footer {
	text-align: center;
}
.footer p {
	font-size: 18px;
	color: rgba(255,255,255,0.5);
}




input {
	border-radius: 4px;
	font-size: 18px;
	border: 0;
	width: 100%;
	margin-bottom: 12px;
	padding: 16px;
}
input:last-child {
	margin: 0;
}






.help-block {
	color: #fff;
	font-size: 18px;
}





.sms {
	color: #fff;
	text-align: center;
}











/*--- Brandon's Mess ---*/

.btn-small {
	border: 1px solid #42BCB0;
	border-radius: 100px;
	padding:4px 14px;
	display: inline-block;
	

}

img.deals-thumb {
	border-radius: 4px;
	max-height: 140px;
}
.deals-thumb-lg {
	 background: url('https://process.filestackapi.com/AhTgLagciQByzXpFGRI0Az/blur=amount:6/HiPKaabhSqKL261Pj6Fe') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.deals-thumb-lg h3 {
font-size: 32px;
text-align: center;
padding: 24px 0;
}


h3 {
 
	margin: 0 0 10px 0;
	color: #fff;
}
.press{
	padding: 16px 32px;
	width: auto;
display: inline-block;
}
.panel {
	overflow: hidden;
	background-color: #1A0F24;
	border: 1px solid rgba(255,255,255,0.2);
	padding: 32px;
}
textarea {
	border-radius: 5px;
	height: 171px;
	resize: none;
}





.panel-deals .deals-info {
	background:;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	margin-bottom: 24px;
	padding: 7px 0 0 0;
	 
}
	.panel-deals .deals-info h2 {
		font-size: 26px;
		margin-bottom: 12px;
	}
	.panel-deals .deals-info p {
		color: rgba(255,255,255,0.5);
	}


.panel-deals .deals-img {
	background-color:;
	padding:0;
}

.panel-deals {
	color: #fff;
	overflow: auto;
	background-color: #1A0F24;
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 24px;
}
.panel-deals a {
	color: #42BCB0;
	margin: 0;
 
}
.panel-deals h2 {
	font-size: 24px;
	margin: 0;
	padding: 0;
}
.panel-deals p {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 12px;
}



.get {
	background: #F8B642;
	border-radius: 4px;
	font-size: 20px;
	font-weight: 600;
}
a.get {
	color: #fff;
}

span {
 
	font-weight: 600;
 
 
}





.panel-deals  ul {
	margin-bottom:24px;
	display: block;
}



/*--- Offer Alert ---*/
.offer-link {
	border: 1px solid red;
	padding:12px;

}




 




.deal-panel {
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 8px;
	overflow: hidden;
	padding: 32px;
	text-align: center;
	margin-bottom: 30px;
}
.deal-panel p {
	color: rgba(255,255,255,0.5);
	font-size: 20px;
}
.deal-panel h2 {
	color: #F8B642;
	font-size: 28px;
	margin-bottom: 24px;
	line-height:0;
}
	.deal-panel h2 a {
		color: #F8B642;		
	}
.deal-panel h3 {
	color: rgba(255,255,255,0.5);
	font-size: 20px;
}
.deal-panel img {
	width: 100%;
}
	.deal-img  a:hover{
		opacity: 0.5;
	}
.deal-img {
	border-radius: 4px;
	height: 160px;
	overflow: hidden;
	margin: 24px 0;
}





/*--- Panel List ---*/
.panel-list {
	overflow: hidden;
	border: 1px solid rgba(255,255,255,0.2);
	padding: 32px;
}
.panel-list p {
	color: rgba(255,255,255,0.5);
	font-size: 20px;
	margin-bottom: 20px;
}
.panel-list img {
	 width: 100%;
}
p.pill {
display: inline-block;
}


/*--- Panels ---*/
.panel-title {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	margin-bottom: 24px;text-align: center;
}
.panel-title h2 {
 
	font-size:32px;
	margin-bottom: 4px;
}
.panel-title p {
	color: rgba(255,255,255,0.5);
	font-size: 18px;
	margin-bottom: 20px;
}
.panel-title span {
	color: #fff;
}

@media screen and (max-width: 988px) {
   .panel-deals {
		text-align:  ;
	}
}
